<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9165mfbte9"></script>
    <style>
        #map{
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="map" style="width:50%;height:400px;"></div>

<script>
var HOME_PATH = window.HOME_PATH || '.';

var cityhall = new naver.maps.LatLng(37.4989934, 127.032909),
    map = new naver.maps.Map('map', {
        center: cityhall.destinationPoint(0, 0),
        zoom: 16
    }),
    marker = new naver.maps.Marker({
        map: map,
        position: cityhall
    });

var contentString = [
        '<div class="iw_inner">',
        '   <h3>PUPPYFRIENDS</h3>',
        '   <p>서울특별시 강남구 강남구 테헤란로14길 6<br />',
        '       <img src="'+ HOME_PATH +'/img/example/hi-seoul.jpg" width="55" height="55" alt="puppyfriends" class="thumb" /><br />',
        '       <br />',
        '       <a href="http://localhost:8083/puppy/" target="_blank">http://localhost:8083/puppy//</a>',
        '   </p>',
        '</div>'
    ].join('');

var infowindow = new naver.maps.InfoWindow({
    content: contentString
});

naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
        infowindow.close();
    } else {
        infowindow.open(map, marker);
    }
});

// infowindow.open(map, marker);
infowindow.close();
</script>
</body>
</html>