<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="adminSelectMember">
		 	 SELECT *
			  FROM(SELECT ROWNUM RNUM, A.*
			          FROM(SELECT
			                  MEMBER_NO
			                , MEMBER_ID
			                , MEMBER_NAME
			                , DOG_NO
			                , DOG_NAME
			                , MEMBER_EMAIL
			                , MEMBER_PHONE
			              FROM MEMBER
			              LEFT JOIN DOG USING(MEMBER_NO)
			              WHERE STATUS = 'Y'
			              ORDER 
			                 BY MEMBER_NO DESC) A)
			   WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="adminSelectListCount">
		  SELECT 
		      COUNT(*) AS count
		  FROM MEMBER
		  WHERE STATUS = 'Y'
	</entry>
	
	
	<entry key="adminDogInfo">
		 SELECT 
		      DOG_NO
		    , MEMBER_NO
		    , DOG_NAME
		    , DOG_VALUE
		    , DOG_AGE
		    , DOG_GENDER
		    , DOG_VACCINE
		    , DOG_SIGNIFICANT
		  FROM DOG
		  JOIN MEMBER USING(MEMBER_NO)
		 WHERE MEMBER_NO = ?
		   
	</entry>
	
	
	<entry key="adminDeleteMember">
		UPDATE
		      MEMBER
		  SET
		     STATUS = 'N'
		WHERE MEMBER_NO = ?
	</entry>
	
	
	<entry key="adminDeleteMemberList">
		 SELECT *
			  FROM(SELECT ROWNUM RNUM, D.*
			          FROM(SELECT
			                  MEMBER_NO
			                , MEMBER_ID
			                , MEMBER_NAME
			                , DOG_NO
			                , DOG_NAME
			                , MEMBER_EMAIL
			                , MEMBER_PHONE
			              FROM MEMBER
			              LEFT JOIN DOG USING(MEMBER_NO)
			              WHERE STATUS = 'N'
			              ORDER 
			                 BY MEMBER_NO DESC) D)
			   WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="">
	
	</entry>
	
	
	<entry key="">
	
	</entry>

</properties>



