<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="adminSelectMember">
		 	 SELECT *
			  FROM(SELECT ROWNUM RNUM, A.*
			          FROM(SELECT
			                  MEMBER_NO
			                , MEMBER_ID
			                , MEMBER_NAME
			                , DOG_NO
			                , DOG_NAME
			                , MEMBER_EMAIL
			                , MEMBER_PHONE
			              FROM MEMBER
			              LEFT JOIN DOG USING(MEMBER_NO)
			              WHERE STATUS = 'Y'
			              ORDER 
			                 BY MEMBER_NO DESC) A)
			   WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="adminSelectListCount">
		  SELECT 
		      COUNT(*) AS count
		  FROM MEMBER
		    WHERE STATUS = 'Y'
	</entry>
	
	<entry key="adminRestore">
		 SELECT 
		      COUNT(*) AS count
		  FROM MEMBER
		    WHERE STATUS = 'N'
	</entry>
	
	<entry key="adminProduct">
		SELECT 
		      COUNT(*) AS count
		  FROM PRODUCT
		 WHERE PRODUCT_STATUS = 'Y'
	</entry>
	
	<entry key="adminSelectOrderList">
		SELECT 
		      COUNT(*) AS count
		  FROM P_ORDER
		 WHERE ORDER_STATUS = 'Y'
	</entry>
	
	
	<entry key="adminDelivery">
		SELECT 
		      COUNT(*) AS count
		  FROM P_ORDER
		 WHERE ORDER_STATUS = 'N'
	</entry>
	
	<entry key="adminHotelCount">
		SELECT 
		      COUNT(*) AS count
		  FROM RESERVATION
		 WHERE RESERVATION_STATUS = 'Y'
	</entry>
	
	
	<entry key="adminClassCount">
		SELECT 
		      COUNT(*) AS count
		  FROM RESERVATION
		 WHERE RESERVATION_STATUS = 'Y'
	</entry>
	
	<entry key="adminDogInfo">
		 SELECT 
		      DOG_NO
		    , MEMBER_NO
		    , DOG_NAME
		    , DOG_VALUE
		    , DOG_AGE
		    , DOG_GENDER
		    , DOG_VACCINE
		    , DOG_SIGNIFICANT
		  FROM DOG
		  JOIN MEMBER USING(MEMBER_NO)
		 WHERE MEMBER_NO = ?
		   
	</entry>
	
	
	<entry key="adminDeleteMember">
		UPDATE
		      MEMBER
		  SET
		     STATUS = 'N'
		WHERE MEMBER_NO = ?
	</entry>
	
	
	<entry key="adminDeleteMemberList">
		 SELECT *
			  FROM(SELECT ROWNUM RNUM, D.*
			          FROM(SELECT
			                 MEMBER_NO
			                , MEMBER_ID
			                , MEMBER_NAME
			                , DOG_NO
			                , DOG_NAME
			                , MEMBER_EMAIL
			                , MEMBER_PHONE
			              FROM MEMBER
			              LEFT JOIN DOG USING(MEMBER_NO)
			              WHERE STATUS = 'N'
			              ORDER 
			                 BY MEMBER_NO DESC) D)
			   WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="adminRestoreMember">
		UPDATE
		      MEMBER
		  SET
		     STATUS = 'Y'
		WHERE MEMBER_NO = ?
	</entry>
	
	
	<entry key="adminSelectProductList">
		SELECT *
		  FROM (SELECT ROWNUM RNUM, P.*
		          FROM(SELECT 
		                PRODUCT_NO
		              , PRODUCT_NAME
		              , PRODUCT_DESC
		              , PRODUCT_PRICE
		              , PRODUCT_STOCK
		              , PRODUCT_UPDATE
		              , PRODUCT_DISCOUNT
		          FROM PRODUCT
		          WHERE PRODUCT_STATUS = 'Y'
		          ORDER 
		             BY PRODUCT_NO DESC)P)
		        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="adminMainPr">
	  SELECT *
		FROM (SELECT ROWNUM RNUM, P.*
		          FROM(SELECT 
		                PRODUCT_NO
		              , PRODUCT_NAME		             
		              , PRODUCT_STOCK
		              , PRODUCT_UPDATE		             
		          FROM PRODUCT
		          WHERE PRODUCT_STOCK = 0
		          ORDER 
		             BY PRODUCT_NO ASC)P)
		        WHERE RNUM BETWEEN 1 AND 15
	</entry>
	
	
	<entry key="adminProductDelete">
		UPDATE
		      PRODUCT
		  SET
		     PRODUCT_STATUS = 'N'
		WHERE PRODUCT_NO = ?
	</entry>
	
	
	<entry key="adminMainMemberY">
		SELECT COUNT(*) AS YM
		  FROM MEMBER
		 WHERE STATUS = 'Y'
	</entry>
	
	
	<entry key="adminMainMemberN">
		SELECT COUNT(*) AS NM
		  FROM MEMBER
		 WHERE STATUS = 'N'
	</entry>
	
	
	<entry key="adminSelectOrder">
		 SELECT *
           FROM(SELECT ROWNUM RNUM, p.*
                   FROM(SELECT
                           ORDER_NO
                         , MEMBER_NO
                         , PRODUCT_NO
                         , ORDER_NAME
                         , ORDER_DATE
                         , ORDER_COUNT
                         , PAYMENT_NO
                         , ORDER_STATUS
                       FROM P_ORDER
                       WHERE ORDER_STATUS = 'Y'
                       ORDER 
                          BY ORDER_NO DESC) p)
            WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="adminSelectDelivery">
		SELECT *
           FROM(SELECT ROWNUM RNUM, p.*
                   FROM(SELECT
                           ORDER_NO
                         , MEMBER_NO
                         , PRODUCT_NO
                         , ORDER_NAME
                         , ORDER_DATE
                         , ORDER_COUNT
                         , PAYMENT_NO
                         , ORDER_STATUS
                       FROM P_ORDER
                       WHERE ORDER_STATUS = 'N'
                       ORDER 
                          BY ORDER_NO DESC) p)
            WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="adminChangeOrderStatus">
		UPDATE
		      P_ORDER
		  SET
		     ORDER_STATUS = 'N'
		WHERE ORDER_NO = ?
	</entry>
	
	<entry key="adminOrderDelivery">
		UPDATE
		      P_ORDER
		   SET
		     ORDER_STATUS = 'Y'
		 WHERE ORDER_NO = ?
	</entry>
	
	<entry key="adminOrderDetailView">
		SELECT               
              ORDER_NO
            , MEMBER_NO
            , PRODUCT_NO
            , ORDER_NAME
            , ORDER_ADDRESS
            , ORDER_PHONE
            , ORDER_REQ
            , ORDER_DATE
            , ORDER_DELIVERY
            , ORDER_COUNT
            , PAYMENT_NO
            , ORDER_STATUS
        FROM P_ORDER
  		WHERE ORDER_NO = ?
	</entry>
	
	<entry key="adminSelectHotel">
		 SELECT *
		  FROM (SELECT ROWNUM RNUM, P.*
		          FROM(SELECT 
		                RESERVATION_NO
		              , MEMBER_NO
		              , PROGRAM_NO
		              , FACILITY_NO
		              , WRITING_DATE
		              , RESERVATION_START
		              , RESERVATION_END
                      , RESERVATION_PRICE
                      , PAYMENT_NO
                      , RESERVATION_STATUS
		          FROM  RESERVATION
		          WHERE FACILITY_NO = 2
		          ORDER 
		             BY RESERVATION_START DESC)P)
		        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="adminSelectClass">
		 SELECT *
        FROM (SELECT ROWNUM RNUM, P.*
                FROM(SELECT 
                      RESERVATION_NO
                    , MEMBER_NO
                    , PROGRAM_NO
                    , FACILITY_NO
                    , WRITING_DATE
                    , RESERVATION_START
                    , RESERVATION_END
                      , RESERVATION_PRICE
                      , PAYMENT_NO
                      , RESERVATION_STATUS
                FROM  RESERVATION
                WHERE FACILITY_NO = 4
                AND RESERVATION_STATUS = 'Y'
                ORDER 
                   BY RESERVATION_START DESC)P)
              WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="deleteReservation">
		UPDATE
		      RESERVATION
		  SET
		     RESERVATION_STATUS = 'N'
		WHERE RESERVATION_NO = ?
	</entry>
	
	
	<entry key="">
	
	</entry>

</properties>



