<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="getChatListById">
	SELECT *
	  FROM CHAT
	 WHERE ((FROM_ID = ? AND TO_ID = ?) OR (FROM_ID = ? AND TO_ID = ?)) AND CHAT_NO > ?
	 ORDER
	    BY CHAT_DATE
</entry>

<entry key="getChatListByRecent">
	SELECT *
	  FROM CHAT
	 WHERE ((FROM_ID = ? AND TO_ID = ?) 
	    OR (FROM_ID = ? AND TO_ID = ?)) 
	   AND CHAT_NO > (SELECT MAX(CHAT_NO) - ? FROM CHAT) 
	 ORDER
	    BY CHAT_DATE
</entry>


<entry key="submit">
	INSERT 
	  INTO CHAT
	 VALUES 
	      (
	        SEQ_CHAT.NEXTVAL
	      , ?
	      , ?
	      , ?
	      , SYSDATE
	      )
</entry>

<entry key="selectChatList">
	SELECT *
	  FROM CHAT
	 WHERE ((FROM_ID = ? AND TO_ID = ?) OR (FROM_ID = ? AND TO_ID = ?))
	 ORDER
	    BY CHAT_DATE
</entry>

<entry key="memberChatList">
	SELECT C.CHAT_NO, C.FROM_ID,C.CONTENT, C.CHAT_DATE
  FROM 
       (
       SELECT 
             CHAT_NO, FROM_ID,CONTENT,CHAT_DATE,
             ROW_NUMBER()OVER(PARTITION BY FROM_ID ORDER BY CHAT_DATE DESC) AS RNK
             FROM CHAT
       ) C
 WHERE C.RNK = 1 AND C.FROM_ID != 'ADMIN'
</entry>

<entry key="memberChat">
	SELECT *
	  FROM CHAT
	 WHERE FROM_ID = ? OR TO_ID = ?
	 ORDER 
	    BY CHAT_DATE DESC
</entry>






</properties>