<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectChatting">
		SELECT  CHATTING_NO
              , CHATTING_MEMBER_NO
              , CHATTING_CITY
              , CHATTING_DATE
              , CHATTING_CHECK
          FROM CHATTING
          JOIN MEMBER ON(MEMBER_NO = CHATTING_MEMBER_NO) 
         ORDER
            BY CHATTING_NO DESC
		       
	</entry>
	
	
	<entry key="chattingForm">
		SELECT  CHATTING_NO
              , MEMBER_ID
              , CHATTING_CITY
              , CHATTING_DATE
              , CHATTING_CHECK
          FROM CHATTING
          JOIN MEMBER ON(MEMBER_NO = CHATTING_MEMBER_NO)
          WHERE MEMBER_ID = ? 
	</entry>
	
	
	<entry key="">
	
	</entry>
	
	
	<entry key="">
	
	</entry>
	
	
	<entry key="">
	
	</entry>
	
	
	<entry key="">
	
	</entry>
	
	
	<entry key="">
	
	</entry>

</properties>



