<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="insertImage">
	INSERT
	  INTO IMAGE
	  (
	    FILE_NO
	  , IMAGE_TYPE
	  , FILE_PATH
	  , FILE_NAME
	  , CHANGE_NAME
	  , DOG_NO
	  , CONTENT
	  )
	  VALUES
	  (
	    SEQ_IMAGE.NEXTVAL
	  , 3
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  )

</entry>

<entry key="selectThCount">
	SELECT
	       COUNT(*) AS "COUNT"
	  FROM IMAGE
	 WHERE IMAGE_TYPE = 3
</entry>

<entry key="selectList">
	SELECT *
		FROM (SELECT ROWNUM RUM, A.*    
		      FROM (SELECT
		           FILE_NO
		         , FILE_PATH || CHANGE_NAME AS "TITLEIMG"  
		         , DOG_NAME
		      FROM IMAGE   
		      JOIN DOG USING(DOG_NO)
		     WHERE IMAGE_TYPE = 3
		     ORDER
		        BY FILE_NO) A
		        )
		 WHERE RUM BETWEEN ? AND ?
</entry>

<entry key="levelCheck">
	SELECT COUNT(*) AS "COUNT"
	  FROM IMAGE
	 WHERE DOG_NO = ?
	   AND FILE_LEVEL = 1
</entry>

<entry key="selectDog">
	SELECT 
	       DOG_NO
	     , DOG_NAME
	  FROM DOG
	 ORDER
	    BY DOG_NAME 
</entry>

<entry key="insertAttendance">
	INSERT 
	  INTO ATTENDANCE
	VALUES
	     (
	       SEQ_ATTENDANCE.NEXTVAL
	     , ?
	     , ?
	     , ? 
	     )
</entry>

<entry key="selectAttendanceList">
	SELECT *
	  FROM ATTENDANCE
	 WHERE MEMBER_NO = ?
</entry>












</properties>