<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
   SELECT
	       MEMBER_NO
	     , MEMBER_ID
	     , MEMBER_PWD
	     , MEMBER_NAME
	     , MEMBER_EMAIL
	     , MEMBER_PHONE
	     , DOG_NO
	     , DOG_NAME
	     , DOG_SIZE
	     , DOG_VALUE
	     , DOG_AGE
	     , DOG_GENDER
	     , DOG_VACCINE
	     , DOG_SIGNIFICANT
	  FROM MEMBER
	  JOIN DOG USING (MEMBER_NO)
	 WHERE MEMBER_ID = ?
	   AND MEMBER_PWD = ?
	   AND STATUS = 'Y'
	</entry>
	
	<entry key="kakaoLoginMember">
		SELECT 
			   MEMBER_NO
			 , MEMBER_ID
			 , MEMBER_NAME
			 , MEMBER_EMAIL
			 , DOG_NO
			 , DOG_NAME
			 , DOG_SIZE
			 , DOG_VALUE
			 , DOG_AGE
			 , DOG_GENDER
			 , DOG_VACCINE
			 , DOG_SIGNIFICANT
		  FROM MEMBER
		  JOIN DOG USING (MEMBER_NO)
		 WHERE MEMBER_ID = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="idCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE MEMBER_ID = ?
	</entry>

	<entry key="insertMember">
		INSERT
		  INTO MEMBER
		  (
		    MEMBER_NO
		  , MEMBER_ID
		  , MEMBER_PWD
		  , MEMBER_NAME
		  , MEMBER_EMAIL
		  , MEMBER_PHONE
		  )
		  VALUES
		  (
		    SEQ_MEMBER.NEXTVAL
		  , ? 
		  , ? 
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertDog">
		 INSERT
		   INTO DOG
		   (
		     DOG_NO
		   , MEMBER_NO
		   , DOG_NAME
		   , DOG_VALUE
		   , DOG_SIZE
		   , DOG_AGE
		   , DOG_GENDER
		   , DOG_VACCINE
		   , DOG_SIGNIFICANT
		   )
		   VALUES
		   (
		     SEQ_DOG.NEXTVAL
		   , SEQ_MEMBER.CURRVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   )
	</entry>
	
	<entry key="selectOrderMember">
	SELECT
	       MEMBER_NO
	     , MEMBER_NAME
	     , SUBSTR(MEMBER_EMAIL, 1, INSTR(MEMBER_EMAIL, '@') - 1) "EMAIL1"
	     , SUBSTR(MEMBER_EMAIL, INSTR(MEMBER_EMAIL, '@') + 1) "EMAIL2"
	     , SUBSTR(MEMBER_PHONE,5,4) "PHONE1"
	     , SUBSTR(MEMBER_PHONE,10,4) "PHONE2"     
	  FROM MEMBER
	 WHERE MEMBER_NO = ?	
	</entry>
	
	
	
	<entry key="updateMember">
		UPDATE MEMBER
		   SET MEMBER_EMAIL = ?
		     , MEMBER_PHONE = ?
		 WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="updateDog">
		UPDATE DOG
		   SET DOG_NAME = ?
		     , DOG_VALUE = ?
		     , DOG_AGE = ?
		     , DOG_GENDER = ?
		     , DOG_SIZE = ?
		     , DOG_VACCINE = ?
		     , DOG_SIGNIFICANT = ?
		 WHERE MEMBER_NO = ?
	</entry>
	<entry key="selectMember">
		SELECT
			   MEMBER_NO
			 , MEMBER_ID
			 , MEMBER_PWD
			 , MEMBER_NAME
			 , MEMBER_EMAIL
			 , MEMBER_PHONE
			 , DOG_NO
			 , DOG_NAME
			 , DOG_VALUE
			 , DOG_SIZE
			 , DOG_AGE
			 , DOG_GENDER
			 , DOG_VACCINE
			 , DOG_SIGNIFICANT
		  FROM MEMBER
		  JOIN DOG
		 USING (MEMBER_NO)
		 WHERE MEMBER_ID = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="updatePwdMember">
	UPDATE MEMBER
	   SET MEMBER_PWD = ?
	 WHERE MEMBER_ID = ?
	   AND MEMBER_PWD = ?
	</entry>
	
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE MEMBER_ID = ?
		   AND MEMBER_PWD = ?  
	</entry>
	
</properties>