<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key = "selectHotelList">
	
	SELECT 
	       HOTEL_NO
	     , HOTEL_WRITER
	     , HOTEL_NAME
	     , HOTEL_TEXT
	     , HOTEL_SIZE
	     , MEMBER_ID
	     , FILE_PATH || CHANGE_NAME AS "TITLEIMG"
	  FROM HOTEL H
	  JOIN MEMBER M ON (HOTEL_WRITER = MEMBER_NO)
	  JOIN IMAGE ON (HOTEL_NO = REF_BNO)
	 WHERE HOTEL_STATUS = 'Y'
	   AND FILE_LEVEL = 1 
	   AND IMAGE_TYPE = 2
	 ORDER BY HOTEL_NO DESC
	
	</entry>
	
	<!-- 
	<entry key="selectHotelThumbnailList">
	
	SELECT 
           FILE_NO
         , REF_BNO
         , FILE_PATH || CHANGE_NAME AS "TITLEIMG" 
         , FILE_NAME
      FROM IMAGE 
      JOIN HOTEL ON (HOTEL_NO = REF_BNO)
     WHERE IMAGE_TYPE = 2 
       AND FILE_LEVEL = 1
       AND REF_BNO = ?
	
	</entry>
	 -->
	 
	<entry key="selectHotelDetail">
	SELECT 
	       HOTEL_NO
	     , HOTEL_WRITER
	     , HOTEL_NAME
	     , HOTEL_TEXT
	     , HOTEL_SIZE
	     , D_NUMBER
	     , HOTEL_START
	     , HOTEL_END
	     , RESERVATION_PRICE
	     , MEMBER_ID
	  FROM HOTEL H
	  JOIN RESERVATION R ON (HOTEL_NO = PROGRAM_NO)
	  JOIN MEMBER M ON (H.HOTEL_WRITER = M.MEMBER_NO)
	 WHERE HOTEL_NO = ?
	   AND HOTEL_STATUS = 'Y'
	   
	</entry>
	
	<entry key="selectHotelImgList">
		SELECT 
           FILE_NO
         , REF_BNO
         , FILE_NAME
         , FILE_PATH || CHANGE_NAME AS "TITLEIMG" 
      FROM IMAGE 
     WHERE IMAGE_TYPE = 2 
       AND REF_BNO = ?
	</entry>

	
	
	<entry key="insertThHotel">
	INSERT
	  INTO HOTEL
	  (
	    HOTEL_NO
	  , HOTEL_WRITER
	  , HOTEL_NAME
	  , HOTEL_TEXT
	  , HOTEL_SIZE
	  , D_NUMBER
	  , HOTEL_START
	  , HOTEL_END
	  )
	  VALUES
	  (
	  SEQ_HOTEL.NEXTVAL
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	)
	  
	</entry>
	
	<entry key="insertThumbnailList">
	INSERT
	  INTO IMAGE
	  (
	    FILE_NO <!-- 파일번호 -->
	  , REF_BNO <!-- 참조게시글번호 -->
	  , IMAGE_TYPE
	  , FILE_NAME <!-- 파일원본명 -->
	  , CHANGE_NAME <!-- 파일수정명 -->
	  , FILE_PATH <!-- 이미지저장경로, 호텔-2 -->
	  , FILE_LEVEL <!-- 파일레벨 -->
	  )
	  VALUES
	  (
	    SEQ_IMAGE.NEXTVAL
	  , SEQ_HOTEL.CURRVAL
	  , 2
	  , ?
	  , ?
	  , ?
	  , ?
	  )
	  
	</entry>
	
	<entry key="inserThReservation">
	INSERT
	  INTO RESERVATION
	  (
        RESERVATION_NO
      , PROGRAM_NO
      , FACILITY_NO
	  , RESERVATION_PRICE
	  )
	  VALUES
	  (
	    SEQ_RESERVATION.NEXTVAL
	  , SEQ_HOTEL.CURRVAL
	  , 2
	  , ?
	  )
	  
	</entry>

	<entry key="selectRvCount">
	<!-- 호텔용  -->
	SELECT 
		   COUNT(*) HCOUNT
   	  FROM RESERVATION
     WHERE FACILITY_NO = 2
       AND PROGRAM_NO = ?
       AND MEMBER_NO != 0
       AND RESERVATION_STATUS = 'Y'
       
	</entry>

	<entry key="deleteHotel">
	  UPDATE 
	  		 HOTEL
      	 SET HOTEL_STATUS = 'N'
   	   WHERE HOTEL_NO = ?
		
	</entry>

	<entry key="selectKinderClassService">
    SELECT 
	       CLASS_NO
	     , CLASS_WRITER
	     , CLASS_NAME
	     , CLASS_TEXT
	     , CLASS_SIZE
	     , MEMBER_ID
	     , FILE_PATH || CHANGE_NAME AS "TITLEIMG"
	  FROM CLASS C
	  JOIN MEMBER M ON (CLASS_WRITER = MEMBER_NO)
	  JOIN IMAGE ON (CLASS_NO = REF_BNO)
	 WHERE CLASS_STATUS = 'Y'
	   AND FILE_LEVEL = 1 
	   AND IMAGE_TYPE = 4
	 ORDER BY CLASS_NO DESC

	</entry>

	<entry key="selectClassDetail">
	
	   SELECT 
	          CLASS_NO
	        , CLASS_WRITER
	        , CLASS_NAME
	        , CLASS_TEXT
	        , CLASS_SIZE
	        , D_NUMBER
	        , RESERVATION_START
	        , RESERVATION_END
	        , RESERVATION_PRICE
	        , MEMBER_ID
	     FROM CLASS C
	     JOIN RESERVATION R ON (CLASS_NO = PROGRAM_NO)
	     JOIN MEMBER M ON (C.CLASS_WRITER = M.MEMBER_NO)
	    WHERE CLASS_NO = ?
	      AND CLASS_STATUS = 'Y'
	     
	</entry>

	<entry key="classrvCount">
	<!-- 유치원  -->
	SELECT 
	       COUNT(*) CCOUNT
	  FROM RESERVATION
	 WHERE FACILITY_NO = 4
	   AND PROGRAM_NO = ?
	   AND MEMBER_NO != 0
	   AND RESERVATION_STATUS = 'Y'
	</entry>

	<entry key="selectClassImgList">
	    SELECT 
	       FILE_NO
	     , REF_BNO
	     , FILE_NAME
	     , FILE_PATH || CHANGE_NAME AS "TITLEIMG" 
	  FROM IMAGE 
	 WHERE IMAGE_TYPE = 4
	   AND REF_BNO = ?
	</entry>

	<entry key="deleteClass">
	  UPDATE 
	  		 CLASS
      	 SET CLASS_STATUS = 'N'
   	   WHERE CLASS_NO = ?
		
	</entry>
	
	<entry key="insertThClass">
	
	INSERT
	  INTO CLASS
	  (
	    CLASS_NO
	  , CLASS_WRITER
	  , CLASS_NAME
	  , CLASS_TEXT
	  , CLASS_SIZE
	  , D_NUMBER
	  )
	  VALUES
	  (
	  SEQ_CLASS.NEXTVAL
	, ?
	, ?
	, ?
	, ?
	, ?
	)
	
	</entry>
	
	
	<entry key="insertThumbnailClassList">
	INSERT
	  INTO IMAGE
	  (
	    FILE_NO <!-- 파일번호 -->
	  , REF_BNO <!-- 참조게시글번호 -->
	  , IMAGE_TYPE
	  , FILE_NAME <!-- 파일원본명 -->
	  , CHANGE_NAME <!-- 파일수정명 -->
	  , FILE_PATH <!-- 이미지저장경로, 호텔-2 -->
	  , FILE_LEVEL <!-- 파일레벨 -->
	  )
	  VALUES
	  (
	    SEQ_IMAGE.NEXTVAL
	  , SEQ_CLASS.CURRVAL
	  , 4
	  , ?
	  , ?
	  , ?
	  , ?
	  )
	  
	</entry>

</properties>

