<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key = "selectHotelList">
	
	SELECT 
	       HOTEL_NO
	     , HOTEL_WRITER
	     , HOTEL_NAME
	     , HOTEL_TEXT
	     , HOTEL_SIZE
	     , MEMBER_ID
	  FROM HOTEL H
	  JOIN MEMBER M ON (HOTEL_WRITER = MEMBER_NO)
	 WHERE HOTEL_STATUS = 'Y' 
	 ORDER BY SYSDATE DESC
	
	</entry>
	
	<entry key="selectHotelDetail">
	SELECT 
	       HOTEL_NO
         , HOTEL_WRITER
	     , HOTEL_NAME
	     , HOTEL_TEXT
	     , HOTEL_SIZE
	     , D_NUMBER
	     , HOTEL_START
	     , HOTEL_END
	     , MEMBER_ID
	  FROM HOTEL H
      JOIN MEMBER M ON (HOTEL_WRITER = MEMBER_NO)
	 WHERE HOTEL_NO = ?
       AND HOTEL_STATUS = 'Y'
	    
	</entry>
	
	<entry key="insertThHotel">
	INSERT
	  INTO HOTEL
	  (
	    HOTEL_NO
	  , HOTEL_WRITER
	  , HOTEL_NAME
	  , HOTEL_TEXT
	  , HOTEL_SIZE
	  , D_NUMBER
	  , HOTEL_START
	  , HOTEL_END
	  )
	  VALUES
	  (
	  SEQ_HOTEL.NEXTVAL
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	, ?
	)
	  
	</entry>
	
	<entry key="insertThumbnailList">
	INSERT
	  INTO IMAGE
	  (
	    FILE_NO <!-- 파일번호 -->
	  , REF_BNO <!-- 참조게시글번호 -->
	  , IMAGE_TYPE
	  , FILE_NAME <!-- 파일원본명 -->
	  , CHANGE_NAME <!-- 파일수정명 -->
	  , FILE_PATH <!-- 이미지저장경로, 호텔-2 -->
	  , FILE_LEVEL <!-- 파일레벨 -->
	  )
	  VALUES
	  (
	    SEQ_IMAGE.NEXTVAL
	  , SEQ_HOTEL.CURRVAL
	  , 2
	  , ?
	  , ?
	  , ?
	  , ?
	  )
	  
	</entry>
	
	<entry key="inserThReservation">
	INSERT
	  INTO RESERVATION
	  (
        RESERVATION_NO
      , PROGRAM_NO
      , FACILITY_NO
	  , RESERVATION_START
	  , RESERVATION_END
	  , RESERVATION_PRICE
	  )
	  VALUES
	  (
	  SEQ_RESERVATION.NEXTVAL
	  , SEQ_HOTEL.CURRVAL
	  , 2
	  , ?
	  , ?
	  , ?
	  )
	  
	</entry>





</properties>

