<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT
	       COUNT(*) "COUNT"
	  FROM REVIEW
	  JOIN PRODUCT USING (PRODUCT_NO)
	 WHERE PRODUCT_NO = ?
	   AND REVIEW_STATUS = 'Y'
	</entry>

	<entry key="selectReviewList">
	SELECT * 
	FROM(
	SELECT ROWNUM RNUM, A.*
	FROM(
	SELECT
	           REVIEW_NO
	         , PRODUCT_NAME  
	         , MEMBER_ID
	         , REVIEW_TEXT
	         , TO_CHAR(REVIEW_DATE, 'YYYY/MM/DD') "REVIEW_DATE"    
	      FROM
	           REVIEW
	      JOIN PRODUCT USING (PRODUCT_NO)
	      JOIN MEMBER USING (MEMBER_NO)
	     WHERE PRODUCT_NO = ?
	       AND REVIEW_STATUS = 'Y'
	       ORDER
	       BY REVIEW_NO DESC
	       )A
	    )
	    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertReview">
		INSERT
	  INTO REVIEW
	  (
	    REVIEW_NO
	  , PRODUCT_NO
	  , MEMBER_NO
	  , REVIEW_TITLE
	  , REVIEW_TEXT
	  )
	  VALUES
	  (
	    SEQ_REVIEW.NEXTVAL
	  , ?
	  , ?
	  , '공통'
	  , ?
	  )
	</entry>
	
	<entry key="deleteReview">
		UPDATE REVIEW
	   SET REVIEW_STATUS = 'N'
	 WHERE REVIEW_NO = ?
	   AND MEMBER_NO = ? 
	</entry>


</properties>